@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@500&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "El Messiri", sans-serif;
}


/* navbar */
.navbar li, a, button {
    font-weight: 500;
    font-size: 16px;
    color: #111;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    padding: 30px 10%;
    background-color: #c8e8dc;
}

.logo {
    cursor: pointer;
    width: 100px;
}

.nav_links {
    list-style: none;
    transform: rotate(180deg);/* reverce li order */
}

.nav_links li {
    display: inline-block;
    transform: rotate(-180deg);/* reverce li order */
    padding: 0px 30px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: gray;
}

.navbar button {
    padding: 9px 25px;
    background-color: azure;
    color: green;
    /* border: none; */
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.navbar button:hover {
    background-color: #377a61;
    color:#fff;
}


/* hero */
.hero {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    padding: 10px 70px;
    background-color: #c8e8dc;
}

.hero .hero-img {
    /* background-color: #499c7e; */
}

.hero .hero-img svg {
    width: 600px;
}

.hero .hero-content {
    direction: rtl;
}

.hero .hero-content h1 {
    font-size: 60px;
}

.hero .hero-content h1 span {
    color: #499c7e;
}

.hero .hero-content p {
    color: gray;
    width: 70%;
    font-size: large;
}

.hero .hero-content button {
    width: 200px;
    padding: 13px;
    margin-top: 30px;
    font-size: 23px;
    background-color: #499c7e;
    color: #fff;
    /* border: none; */
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.hero .hero-content button:hover {
    background-color: #377a61;
}

/* cards */

.cards {
    display: flex;
    align-items: center;
    padding: 30px 20%;
    direction: rtl;
}

.cards .card {
    width: 300px;
    height: 300px;
    background-color: #c8e8dc;
    padding: 10px 10px;
    margin: 10px 30px;
    border-radius: 20px;
}

.cards .card .card-img {
    text-shadow: 2px 2px;

}
.cards .card p {
    color: gray;
}
